/*
食谱列表 外在肌肤，水嫩丝滑
生成时间：Thu Mar 10 2016   破门狂人R2-D2为您服务！
*/
.DietList{
    /*margin-top: 20px;*/
}
.DietList-addBtn{
    margin-left: 5px;
    width: 80px;
    height: 30px;
    font-size: 0.8em;
}

.diet-list-meal{
    max-height: 150px;
    overflow-y: scroll;
    overflow: overlay;
}

