/*
编辑食谱 外在肌肤，水嫩丝滑
生成时间：Thu Mar 10 2016   破门狂人R2-D2为您服务！
*/
.EditDiet .form-control {
    display: inline-block;
    /*max-width: 200px;*/
}

.meal-title {
    position: absolute;
    top: -10px;
    font-size: 18px;
    padding: 0px 10px;
    background: #ffffff;
}

.EditDiet .table-input {
    display: inline-block;
    width: 100%;
    max-width: 130px;
    height: 100%;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    outline: none;
}

.EditDiet .btn-add-row {
    border: #a0a0a0 1px dashed;
}

.EditDiet .attention {
    box-shadow: inset 0px 0px 1px 1px red;
}

.EditDiet .table-input:focus {
    border-bottom: 1px solid #0076b0;
}



.food-search-item {
    position: relative;
    min-height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    cursor: pointer;
    /*border: transparent solid 1px;*/
}
.food-search-item:hover{
    background-color: #d1e7f8;
}

.food-search-pager {
    padding: 14px 20px;
    text-align: center;
    line-height: 32px;
}

.food-search-pager i{
    font-size: 30px;
    color: #aebbbb;
    cursor: pointer;
}

.food-search-pager i:hover{
    color:#00ad3d;
}

.focusing-food{
    margin:2px -20px 2px -40px;
    background-color: #d6eeff;
    box-shadow: 0px 2px 10px #949494;
    /*border: #e3e3e3 solid 1px;*/
    padding-left: 4px;
    padding-right: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.btn-cancel-food-focus{
    height: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    padding:0px 10px;
    line-height: 100%;
    background-color: #D6D6D6;
    color: #fff;
    outline: none;
    border: none;
    font-size: 18px;
    transition: all 0.25s ease;

}
.btn-cancel-food-focus:hover{
    background-color: #f14146;
    text-shadow: 0px 1px 1px #000;
}
.btn-cancel-food-focus:active{
    background-color: #be353a;
}

[class^='btn-add-food-']{
    border: none;
    background-color: transparent;
    height: 100%;
    display: block;
    float: left;
    padding:0px 8px;
    color: #272727;
    transition: all 0.25s ease;
    /*animation: btn-growing 0.3s;*/
    margin-top: -30px;

}

[class^='btn-add-food-']:hover{
    font-weight: bolder;
    text-shadow: 0px 1px 1px #000;
    color: #fff
}
.btn-add-food-0{
    color: #5cb75c;
    animation: btn-growing 0.2s 0s;
    animation-fill-mode:forwards ;
    -webkit-animation-fill-mode:forwards;
}
.btn-add-food-1{
    color: #e34045;
    animation: btn-growing 0.2s 0.1s;
    animation-fill-mode:forwards ;
    -webkit-animation-fill-mode:forwards;
}
.btn-add-food-2{
    color: #31838e;
    animation: btn-growing 0.2s 0.2s;
    animation-fill-mode:forwards ;
    -webkit-animation-fill-mode:forwards;
}
.btn-add-food-0:hover{
    background-color: #5cb75c;
}
.btn-add-food-1:hover{
    background-color: #e34045;
}
.btn-add-food-2:hover{
    background-color: #31838e;
}

@keyframes btn-growing {
    from{
        margin-top: -30px;
    }
    to{
        margin-top: 0px;
    }
}

